GOOGLE_API_KEY=AIzaSyAsBiqFxUsjLjxFC9waxyzP2xjK-4c0YS8
WEATHER_API_KEY=a8f36ebb122c1fa943050d6ccc5418af
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=1h
PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=1234
DB_NAME=weatherapp

